.movie {
    width: 420px ;
    height:833px ;
    background-color: #CDFFFF;
    border: 3px dotted #15A6A6;
    border-radius: 25px;
    padding: 40px 60px 40px 60px ;
}
.movie > p {
    margin:0 0 30px 0;
}
.movie > p > img {}
.movie > .contents_title {}
.movie > .contents_title > h1{
    font-family: 'pretendard', '맑은 고딕';
    font-size: 1.875em;
    font-weight: 700;
    margin:0 0 20px 0 ;
}
.movie > .contents_title > .contents_g {}
.movie > .contents_title > .contents_g > .sub_title{
    font-family: 'pretendard', '맑은 고딕';
    font-size: 1.125em;
    font-weight: 500;
    margin:0 0 8px 0 ;
}
.movie > .contents_title > .contents_g > .rank{
    font-family: 'pretendard', '맑은 고딕';
    font-size: 0.75em;
    font-weight: 300;
    margin:0 0 8px 0 ;
}
.movie > .contents_title > .contents_g > .contents {
    font-family: 'pretendard', '맑은 고딕';
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;
}
